{# src/Eldi/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "EldiPlatformBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block eldiplatform_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("EldiPlatformBundle:Advert:form.html.twig") }}

  <p>
    Vous êtes entrain d'ajoutez une annonce.
  </p>

{% endblock %}
